<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oycl.demo.orm.dao.MTaskMapper">

                <!-- 通用查询映射结果 -->
        <resultMap id="MTask" type="com.oycl.demo.orm.model.MTask">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="insertTime" property="insertTime"/>
        </resultMap>


       <!-- 查询 -->
       <insert id="insert">
           INSERT INTO
               m_task (
                   id,
                   name,
                   insertTime
               ) VALUES(
                   #{id},
                   #{name}
                   ,now())
       </insert>

</mapper>
